

<div class="container">
    <div class="header_wrap">
        <div class="num_rows">

            <div class="form-group"> <!--		Show Numbers Of Rows 		-->
                <select (change)="onTableSizeChange($event)" class="form-control">
                    <option *ngFor="let size of tableSizes">{{size}}</option>
                    <option value={{tableSizes[tableSizes.length]}}>All Products</option>
                </select>
            </div>
        </div>
        <i class="fa-regular fa-plus text-warning fs-2 ms-3" [routerLink]="['/addProduct']" role="button"></i>
        <div class="tb_search">
            <input class="form-control" type="text" 
            name="search" [(ngModel)]="searchData" (ngModelChange)="search()"
                placeholder="Search With Name">
        </div>
    </div>

    <br />
    
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col" >#</th>
                <th scope="col"  >Product</th>
                <th scope="col"  >Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
                <th scope="col">Color</th>
                <th scope="col"  colspan="2">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of ListOfPro | paginate:{itemsPerPage:tableSize,currentPage:page,totalItems: count,} ; let i = index" >                
                    <td>{{i+1}}</td>
                        
                <img class="" src={{pro.img}} height="100px" width="100px"/><td>
                <p style="width: 200px;">{{pro.name}}</p>

                </td>
                <td >{{pro.quantity}}</td>
                <td >{{pro.brand}}</td>
                <td>{{pro.price | currency:'EGP':'symbol'}}</td>
                
                <td >{{pro.color}}</td>
                <!-- <td><button class="editBtn" (click)="updateProduct(pro._id)">Edit</button></td> -->
                <td><i class="fa-solid fa-pen-to-square me-4 fs-4 text-success" (click)="update(pro.id)" role="button"></i>
                <i class="fa-solid fa-trash fs-4 text-danger deleteBtn" (click)="deletePro(pro.id)" role="button"></i></td>


            </tr>

        </tbody>
    </table>
    <div class=" paginate">
        <pagination-controls previousLabel="Prev"
        nextLabel="Next" (pageChange)="onTableDataChange($event)">
    
        </pagination-controls>
    
    </div>