
<div class="container d-flex flex-column align-items-center">
    <div class="w-75 p-3 shadow-lg rounded-3 border border-warning mt-5">
    <form #productForm="ngForm" (submit)="addPro()">
        <div class="mb-3">
          <label for="catName" class="form-label">Product Name</label>     
          <input type="text" #proNameInput="ngModel" class="form-control" name="proName" id="proName"
           [(ngModel)]="pro.name" required  [class.is-valid]="proNameInput.valid" [class.is-invalid]="proNameInput.invalid">
          <div class="alert alert-danger" [hidden]="proNameInput.valid || proNameInput.untouched">
            <small *ngIf="proNameInput.errors?.['required']">product name is required</small>
          </div>
        </div>  

        <div class="mb-3">
            <label for="catName" class="form-label">Quantity</label>     
            <input type="text" #proQuantInput="ngModel" class="form-control" name="proQuant" id="proQuant"
             [(ngModel)]="pro.quantity" required  [class.is-valid]="proQuantInput.valid" [class.is-invalid]="proQuantInput.invalid">
            <div class="alert alert-danger" [hidden]="proQuantInput.valid || proQuantInput.untouched">
              <small *ngIf="proQuantInput.errors?.['required']">Quantity is required</small>
            </div>
          </div>  

          <div class="mb-3">
            <label for="catName" class="form-label">Price</label>     
            <input type="text" #proPriceInput="ngModel" class="form-control" name="proPrice" id="proPrice"
             [(ngModel)]="pro.price" required  [class.is-valid]="proPriceInput.valid" [class.is-invalid]="proPriceInput.invalid">
            <div class="alert alert-danger" [hidden]="proPriceInput.valid || proPriceInput.untouched">
              <small *ngIf="proPriceInput.errors?.['required']">Price is required</small>
            </div>
          </div>  

          <div class="mb-3">
            <label for="catName" class="form-label">Image URL</label>     
            <input type="text" #URLInput="ngModel" class="form-control" name="image" id="image"
             [(ngModel)]="pro.img" required  [class.is-valid]="URLInput.valid" [class.is-invalid]="URLInput.invalid">
            <div class="alert alert-danger" [hidden]="URLInput.valid || URLInput.untouched">
              <small *ngIf="URLInput.errors?.['required']">Image URL is required</small>
            </div>
          </div>  

          <div class="mb-3">
            <label for="catName" class="form-label">Brand</label>     
            <input type="text" #proBrandInput="ngModel" class="form-control" name="proBrand" id="proBrand"
             [(ngModel)]="pro.brand" required  [class.is-valid]="proBrandInput.valid" [class.is-invalid]="proBrandInput.invalid">
            <div class="alert alert-danger" [hidden]="proBrandInput.valid || proBrandInput.untouched">
              <small *ngIf="proBrandInput.errors?.['required']">Brand Name is required</small>
            </div>
          </div>  

          <div class="mb-3">
            <label for="catName" class="form-label">Color Name</label>     
            <input type="text" #proColorInput="ngModel" class="form-control" name="proColor" id="proColor"
             [(ngModel)]="pro.color" required  [class.is-valid]="proColorInput.valid" [class.is-invalid]="proColorInput.invalid">
            <div class="alert alert-danger" [hidden]="proColorInput.valid || proColorInput.untouched">
              <small *ngIf="proColorInput.errors?.['required']">Color is required</small>
            </div>
          </div>  

 
      
        <button type="submit" class="btn btn-outline-warning" role="button" [disabled]="productForm.invalid">Submit</button>
      </form>
      
      
      <!-- <h1 class="bg-info">{{cat|json}}</h1> -->
    </div>
  </div>
  
  
  
  
  
  